
 /* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #ccc; */

  }
  
  /* Center the login container */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    background: linear-gradient(to bottom, #2C0000, #000000);

  }

  .login-heading {
    font-size: 1.5rem;
    margin-bottom: 2em;
    color: white;
  }
  
  /* Style the login form */
  .login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
  }
  
  /* Style the submit button */
  .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #800000 !important;
    color: white;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #660000 !important;
  }
  
  /* Style the message div */
  .message {
    color: red;
    margin-bottom: 10px;
  }
  
  /* Style the signup link */
  .signup-link {
    color: white;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  

